CDPConnect/services/upload/UploadDocument.wsdl

<?xml version="1.0" encoding="utf-8" ?> 
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/"> 
<types> 
<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/"> 
	<s:element name="UploadDocument"> 
		<s:complexType> 
		<s:sequence> 
			<s:element minOccurs="0" maxOccurs="1" name="callerIdentifier" type="s:string" /> 
			<s:element minOccurs="0" maxOccurs="1" name="serviceName" type="s:string" /> 
			<s:element minOccurs="0" maxOccurs="1" name="referenceIdentifier" type="s:string" /> 
			<s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" /> 
			<s:element minOccurs="0" maxOccurs="1" name="contentFormat" type="s:string" /> 
		</s:sequence> 
		</s:complexType> 
	</s:element> 
	<s:element name="UploadDocumentResponse"> 
		<s:complexType> 
		<s:sequence> 
			<s:element minOccurs="0" maxOccurs="1" name="UploadDocumentResult" type="s:string" /> 
		</s:sequence> 
		</s:complexType> 
	</s:element> 
	<s:element name="EDIServiceSOAPHeader" type="s0:EDIServiceSOAPHeader" /> 
		<s:complexType name="EDIServiceSOAPHeader"> 
		<s:sequence> 
			<s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" /> 
			<s:element minOccurs="0" maxOccurs="1" name="passWord" type="s:string" /> 
		</s:sequence> 
		</s:complexType> 
</s:schema> 
</types> 
<message name="UploadDocumentSoapIn"> 
	<part name="parameters" element="s0:UploadDocument" /> 
</message> 
<message name="UploadDocumentSoapOut"> 
	<part name="parameters" element="s0:UploadDocumentResponse" /> 
</message>
<message name="UploadDocumentEDIServiceSOAPHeader"> 
	<part name="EDIServiceSOAPHeader" element="s0:EDIServiceSOAPHeader" /> 
</message> 
<portType name="UploadDocumentServiceSoap"> 
	<operation name="UploadDocument"> 
	<input message="s0:UploadDocumentSoapIn" /> 
	<output message="s0:UploadDocumentSoapOut" /> 
	</operation> 
</portType> 
<binding name="UploadDocumentServiceSoap" type="s0:UploadDocumentServiceSoap"> 
	<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /> 
	<operation name="UploadDocument"> 
	<soap:operation soapAction="http://tempuri.org/UploadDocument" style="document" /> 
	<input> 
		<soap:body use="literal" /> 
		<soap:header message="s0:UploadDocumentEDIServiceSOAPHeader" part="EDIServiceSOAPHeader" use="literal" /> 
	</input> 
	<output> 
		<soap:body use="literal" /> 
	</output> 
	</operation> 
</binding> 
<service name="UploadDocumentService"> 
	<port name="UploadDocumentServiceSoap" binding="s0:UploadDocumentServiceSoap"> 
	<soap:address location="http://localhost/GPRA/services/UploadDocumentServer.php" /> 
	</port> 
</service> 
</definitions> 